<form method="post"
      class="is-inline-block"
      action="{{ path(route_path, {'id': id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="link is-danger button">
        <span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
        </span>
        <span>Delete</span>
    </button>
</form>